body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    background: #131313;
    width: 100vw;
    min-height: 85px;
    height: 5vh;
    display: flex;
    align-content: center;
}

.footer {
    background: #131313;
    width: 100vw;
    min-height: 135px;
    height: 5vh;
    display: flex;
    align-content: center;
}


.section {
    width: 100vw;
    display: flex;
    align-content: center;
    margin-top: -1px;;
}

.section--1 {
    background-image:url(../images/image1.jpg);
    background-position: center;
    max-height: 707px;
    min-height: 450px;
}

.section--1__shadow {
    background: rgba(0, 0, 0, 0.7);
    max-height: 707px;
    min-height: 450px;
    height: 707px;
}

.section--2 {
    background: #131313;
    padding-bottom: 340px;
}

.section--3 {
    margin-top: -340px;
}

.section--5 {
    margin-top: 50px;
    max-width: 1440px;
    background: url('../images/image8.png');
    background-position-x: left;
    background-repeat: no-repeat;
    height: 598px;
    margin-bottom: 200px;
    flex-direction: column;
}

.section--6 {
    background: url('../images/image9.png');
    max-width: 1440px;
    height: 864px;
    background-position-x: center;
}

.section--6__shadow {
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    width: 100%;
    max-width: 1440px;
    height: 864px;
    background-position: center;
}

.section--7 {
    background-image: url('../images/Group.svg');
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: repeat-x;
    justify-content: center;
    max-width: 1440px;
}

.section--7__shadow {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 1442px;
    width: 100%;
    padding-bottom: 300px;
    height: auto;
}

.section--8 {
    background: url('../images/image18.png');
    width: 100%;
    height: auto;
    max-width: 1440px;
    max-height: 955px;
    justify-content: center;
}

.section--8__shadow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    max-width: 1440px;
    max-height: 955px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);

}

.container {
    display: flex;
    width: 90vw;
    max-width: 1250px;
    align-items: center;
    margin: auto;
}

.header-container {
    justify-content: space-between;
    font-size: 11px;
}

.container--1 {
    flex-wrap: wrap;    
}

.container--2 {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.container--3 {
    flex-direction: column;
}

.container--4 {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95vw;
}

.container--5 {
    flex-wrap: wrap;
    max-width: 95vw;
}

.container--6 {
    height: 100%;
    justify-content: space-between;
    align-items: baselinae;
}

.container--7 {
    flex-direction: column;
    justify-items: space-between;
    align-content: center;
    
    
}

.container--8 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.container--8--portable {
    display: none;
}


.title {
    font-family: 'Yeseva One', cursive;
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.title--40px {
    font-size: 40px;
    color: white;
    line-height: 53px;
}

.title--white {
    color: white;
}

.title--completed-projects {
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: 400;
    color: #181818;
    text-transform: uppercase;
    width: 100%;
}

.subtitle--18px {
    font-size: 18px; 
}

.subtitle--white {
    color: #FFFFFF;
}

.subtitle--beige {
    color: #E3B873;
}

.subtitle--online-control, .subtitle--types-of-repair, .subtitle--our-clients, .subtitle--have-any-questions {
    text-align: center;
}

.subtitle--our-clients {
    margin-top: 50px;
}

.subtitle--contacts {
    text-align: center;
    margin: 30px auto;
}

.text--Yeseva-One {
    font-family: 'Yeseva One', cursive;
}

.text--center {
    text-align: center;
}

.text--22px {
    font-size: 22px;
    line-height: 36px;
}

.text--18px {
    font-size: 18px;
    line-height: 33px;
}

.text--14px {
    font-size: 14px;
    line-height: 23px;
}

.text--13px {
    font-size: 13px;
    line-height: 22px;
}

.text--white {
    color: #FFFFFF;
}

.text--grey {
    color: #959595;
}

.text--beige {
    color: #E3B873;
}

.text--100percent {
    width: 100%;
}

.text--main {
    width: 100%;
    margin-right: 40%;
}

.text--completed-projects {
    margin-top: 0;
    margin-bottom: 0;
}

.text--online-control {
    width: 75%;
    max-width: 875px;
    text-align: center;
    margin-top: 0;
}

.text--i-agree {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text--i-agree--2 {
    display: flex;
}

.text--advantages {
    line-height: 20px;
    margin-left: 10px;
}

.text--leave-a-request {
    width: 50%;
    text-align: center;
    line-height: 25px;
}

.text--our-clients {
    line-height: 30px;
    margin-top: 0;
}

.text--client-name {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.button {
    background-color: rgba(227, 184, 115, 1);
    box-shadow: 0 15px 15px rgba(227, 184, 115, 0.2);
    height: 51px;
    width: 200px;
    border: 0;
    border-radius: 0;
    text-align: center;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

.button--request-call {
    border-radius: 2px;
    height: 3vh;
    min-height: 40px;;
    width: 160px;
    font-style: italic;
    font-size: 11px;
}

.button--calculate-the-cost {
    border-radius: 2px;
    width: 210px;
    font-style: italic;
    font-size: 11px;
    margin-top: 21px;
    margin-right: 20px;
}

.button--submit-your-application {
    border-radius: 2px;
    width: 210px;
    border: 1px solid #FFFFFF;
    font-style: italic;
    font-size: 11px;
    margin-top: 21px;
    margin-right: 20px;
    background-color: transparent;
    box-shadow: none;
}

.button--submit {
    width: 25%;
}

.button--price {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    height: 54px;
    width: 228px;
    border-radius: 0;
    box-shadow: 5px 5px 10px 0 rgba(227, 184, 115, 0.3);
}

.button--call-the-measurer {
    box-shadow: 0px 5px 15px 0px #E3B87326;
    margin-top: 20px;
    margin-right: 0;
}

.button--meters-days {
    font-family: 'Yeseva One', cursive;
    font-size: 17px;
    line-height: 24px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button--bottom {
    margin: auto;
}

.img {
    display:flex;
}

.img--1--desktop {
    display: flex;
    width: 60%;
    max-width: 679px;
    max-height: 482px;
    margin-right: 0;
    margin-top: 0;
}

.img--1--portable {
    display: none;
}

.img--1-container {
    display: none;
}

.working-man {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 875px;
}

.img--2 {
    max-width: 875px;
}

.img--3 {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    max-width: 354px;
    margin-right: 0;
}

.img--4 {
    display: none;
}

.img--4-container {
    display: none;
}

.img--client {
    border: 0;
    border-radius: 40px;
    margin-right: 20px;
}

.img--5 {
    width: 80%;
    max-width: 880px;
}

.label {
    cursor: pointer;
}

.first-checkbox {
    margin: 20px auto;
}

.second-checkbox {
    margin: auto;
}

.third-checkbox {
    width: 100%;
    margin: auto;
    text-align: center;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.text-field--white__label {
    display: block;
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
    width: 25%;
    margin-bottom: 30px;
    height: 50px;
}
.text-field--white__input {
    display: block;
    width: 100%;
    font-family: inherit;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-clip: padding-box;
    font-size: 14px;
    line-height: 23px;
    background: transparent;
}

.text-field--dark__label {
    display: block;
    font-size: 13px;
    margin-bottom: 30px;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}
.text-field--dark__input {
    display: block;
    width: 100%;
    font-family: inherit;
    color: #FFFFFF;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-clip: padding-box;
    font-size: 14px;
    line-height: 23px;
    background: transparent;
}

.text-field--dark__input::placeholder {
    color: #FFFFFF;
}

.text-field--dark__label--bottom {
    display: block;
    font-size: 13px;
    margin-bottom: 30px;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 40%;
}

.svg {
    display: flex;
    align-items: center;
}

.svg1 {
    margin-top: auto;
    margin-bottom: 0;
}

.svg2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
    
.svg3 {
    margin: 30px 0;
}

.svg4 {
    width: 20px;
    height: 20px;
    background: #E3B873;
    justify-content: center;
    margin-right: 10px;
}

.svg5 {
    width: 40px;
    min-width: 40px;
    height: 40px;
    justify-content: center;
    background: #E3B873;
    border: 8px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    font-family: 'Yeseva One', cursive;
    color: white;
    size: 18px;
    text-align: center;
}

.svg6 {
    position: absolute;
}

.svg7 {
    margin-top: -100px;
    margin-left: auto;
}

.svg8 {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
}

.container--3__form {
    max-width: 826px;
    margin: 30px 0px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container--5__form {
    margin-top: 20px;
    padding: 20px 50px;
    width: 35%;
    background-color:#131313;
}

.container--8__form {
    width: 40%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -210px;
    padding: 30px 150px;
    background-color:#131313;
    min-height: 450px;
}


.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.header-container__header-navigation {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-navigation__item a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
}

.header-navigation__item a.home {
    color: #E3B873;
}

.header-contacts__phone-number a {
    color: #E3B873;
    margin-right: 15px;
}

.project-list--desktop {
    display: flex;
    padding-left: 0;
    width: 60%;
    max-width: 679px;
    list-style: none;
    justify-content: space-between;
    margin-left: auto;
}

.project-list--portable {
    display: none;
}

.project-list__item {
    font-family: 'Yeseva One', cursive;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.project-list__item:first-of-type {
    color: #E3B873;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 0;
    border-color: rgb(227, 184, 115);
}

.project-list__item:last-of-type {
    margin-right: 0;
}

.completed-projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.completed-projects__main {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-details__block {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.types-of-repair {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;
    max-width: 1300px;
    justify-content: space-evenly;
    align-items: center;
}

.types-of-repair__item {
    display: flex;
    background-repeat: no-repeat;
    background-position: top;
    width: 392px;
    height: 650px;
    justify-content: center;
}

.types-of-repair__item--1 {
    background-image: url('../images/image5.jpg');
}

.types-of-repair__item--2 {
    background-image: url('../images/image6.jpg');
}

.types-of-repair__item--3 {
    background-image: url('../images/image7.jpg');
}

.types-of-repair__details {
    z-index: 1;
    width: 85%;
    max-width: 330px;
    height: 283px;
    margin-top: 295px;
    background: #ffffff;
    padding-top: 20px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.03);
}

.types-of-repair__name  {
    padding-left: 40px;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
}

.repair-list {
    list-style-position: inside;
    color: rgba(149, 149, 149, 1);
    font-size: 13px;
    line-height: 27px;
}

.repair-list__item {
    padding: 0;
}

.advantages {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 45%;
}

.advantages__item {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 40px;
}

.container--6__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    height: 864px;
    width: 30%;
}

.container--6__images {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--6__images--1 {
    z-index: 1;
    margin-left: 30px;
    margin-top: 25px;
    max-width: 354px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--6__images--2 {
    align-self: baseline;
    margin-left: 30px;
    max-width: 354px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
}


.styles-list {
    list-style: none;
    padding-left: 0;
}

.styles-list__item {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 15px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1300px;
    justify-content: space-evenly;
    align-items: center;
}

.clients__item {
    padding: 20px 40px 100px 20px;
    background-color: #FFFFFF;
    display: flex;
    width: 27%;
    max-width: 375px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 50px 0px #0000000A;

}

.repair-list__item {
    padding: 0;
}



@media screen and (max-width: 1024px) {
    .section--5 {
        display: none;
    }
    
    .subtitle--18px {
        font-size: 14px;
    }

    .header-container__header-navigation {
        display: none;
    }
    
    .img--1--desktop {
        height: 100%;
    }

    .project-list__item {
        font-size: 12px;
    }

    .img--4-container {
        display: none;
    }

    .img--1-container {
        display: none;
    }

    
}
@media screen and (max-width: 900px) {
    .section--6, .section--6__shadow, .container--6__main {
        height: auto;
        background: #FFFFFF;
    }

    .section--6 {
        margin-bottom: -150px;
    }

    .section--7 {
        display: none;
    }

    .img--4 {
        z-index: 1;
    }

    .section--8 {
        padding-top: 200px;
        max-width: none;
        max-height: none;
        background-image: none;
        background-color: #131313;
    }

    .section--8__shadow {
        display: none
    }

    .container--8--portable {
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .container--8__form {
        margin: auto;
        width: 100%;
        padding: 0;
    }
    
    .img--5 {
        width: 100%;
        order: 2;
        margin: 20px auto;
    }

    .subtitle--contacts {
        order: 3;
    }
    
    .svg8 {
        order: 4;
    }

    .footer {
        display: none;
    }

    .button--bottom {
        width: 100%;
    }

    .text-field--dark__label--bottom {
        width: 100%;
    }

    .title--completed-projects {
        text-align: center;
    }

    .title--we-realize {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
    }
    
    .text--main {
        width: 100%;
        margin-right: 20%;
    }

    .text--completed-projects {
        text-align: center;
        width: 75%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .button--submit {
        width: 100%;
        margin: auto;
    }

    .svg1 {
        display: none;
    }
    
    .img--1--portable {
        display: flex;
        width: 100%;
        margin: 20px auto;
    }

    .img--1--desktop {
        display: none;
    }

    .working-man {
        width: 100%;
    }

    .img--2 {
        width: 100%;
        min-width: 0;
    }

    .img--1-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .img--4 {
        display: flex;
        width: 100%;
    }

    .svg9 {
        position: absolute;
        z-index: 2;
        left: 0;
    }

    .svg10 {
        position: absolute;
        z-index: 1;
        right: 0;
    }

    
    .img--4-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .text-field--white__label {
        width: 40%;
    }
    
    .completed-projects__main {
        width: 100%;
    }

    .project-list--portable {
        display: flex;
        width: 100%;
        max-width: 679px;
        list-style: none;
        justify-content: space-between;
        padding-left: 0;
        margin: auto;
    }
    
    .project-list--desktop {
        display: none;
    }

    .project-details {
        justify-content: space-between;
        margin: auto;
        width: 50%;
        min-width: 350px;
    }
    
    .project-details__block {
        width: auto;
        min-width: 150px;
        margin: auto;
    }

    .container--6__main {
        width: 100%;
    }

    .container--6__images {
        display: none;
    }

    .styles-list {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .section--2 {
        padding-bottom: 0;
    }

    .section--3 {
        background-color: #131313;
        margin-top: -1px;
    }
    
    .section--4 {
        margin-top: 55px;
    }

    .container--3 {
        margin-bottom: -55px;
    }

    .title--40px {
        font-size: 26px;
        line-height: 35px;
    }

    .title--completed-projects {
        font-size: 22px;
        line-height: 30px;;
    }

    .text {
        color: #FFFFFF;
    }

    .text--22px {
        font-size: 15px;
        line-height: 24px;
    }
        
    .text--18px {
        font-size: 11px;
        line-height: 19px;
    }

    .text--14px {
        font-size: 11px;
        line-height: 17px;
    }

    .text--main {
        width: 100%;
        margin-right: 0;
    }

    .text--online-control {
        width: 100%;
    }
    
    .text--i-agree {
        color: #FFFFFF;
        margin: auto;
        margin-bottom: 30px;
        font-size: 11px;
    }
    
    .button--request-call {
        display: none;
    }

    .button--calculate-the-cost, .button--submit-your-application {
        width: 100%;
        margin-right: 0%;
    }

    .project-list--portable {
        display: none;
    }

    .container--3__form {
        width: 100%;
    }

    .text-field--white__label {
        color: rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        width: 100%;
    }

    .text-field--white__input {
        color: #FFFFFF;
    }

    .button--submit {
        order: 1;
    }

    .button--price {
        font-size: 15px;
        line-height: 20px;
    }

    .types-of-repair__details {
        width: 100%;
    }
}

@media screen and (max-width: 374px) {
    .text--13px{
        font-size: 11px;
        line-height: 15px;
    }
    .img--2 {
        width: 100%;
        min-width: 0;
    }

    .logo {
        margin: auto;
    }

    .header-contacts__phone-number {
        display: none;
    }

    .project-details {
        width: 100%;
        min-width: 0;
    }
    
    .project-details__block {
        width: 40%;
        min-width: 0;
    }
}

@media screen and (min-width: 1440px) {
    .section--1 {
        background-image:url(../images/image4.3.jpg);
    }
} 